/* App.css */
@import url('css/assets/css/normalize.min.css');
@import url('css/assets/css/bootstrap.min.css');
@import url('css/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css');
@import url('css/assets/css/style.css');
@import url('css/assets/css/chartist.min.css');
@import url('css/assets/css/jqvmap.min.css');
@import url('css/assets/css/fullcalendar.min.css');
@import url('css/assets/css/fullcalendar.min.css');
/*pour les tables*/
@import url('css/assets/css/lib/datatable/dataTables.bootstrap.min.css');
/* @import url('https://cdn.datatables.net/v/dt/dt-1.13.8/datatables.min.js');
@import url('https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap.min.js'); */



.conten {
    margin-left: 300px;   
    margin-top: 100px;   
    width: 1100px; 
  }