.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






/* lklkl */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

/* NomDuFichier.css */

body {
  margin: 0;               /* Supprime la marge par défaut du corps de la page */
  font-family: 'Arial', sans-serif; /* Utilise une police générique pour le texte */
}

.container {
  display: flex;           /* Utilise Flexbox pour créer un conteneur flexible */
  flex-direction: column;  /* Aligne les éléments en colonne */
  min-height: 100vh;       /* Force le conteneur à prendre au moins la hauteur de la fenêtre */
}

.content {
  display: flex;           /* Utilise Flexbox pour aligner les éléments en ligne */
  justify-content: space-between; /* Répartit l'espace disponible entre les éléments, les alignant aux extrémités */
  padding: 20px;           /* Ajoute de la marge intérieure pour l'espace autour du contenu */
}

/* Ajoute des styles spécifiques au besoin */
h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}
